@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.path {
	stroke-dasharray: 1000 1000;/*615.423095703125;*/
	stroke-dashoffset: 1000;/*615.423095703125;*/
	/*animation: dash 5s linear forwards;
	-webkit-animation: dash 3s linear forwards;*/
}

.figure {
	position:relative;
}

.revenue {
	position:absolute;
	top:210px;
	left:180px;
	font-size:60px;
	margin:0;
}

.hours {
	position:absolute;
	top:210px;
	left:430px;
	font-size:60px;
	margin:0;
}

.jobs {
	position:absolute;
	top:210px;
	left:680px;
	font-size:60px;
	margin:0;
}

.figure {
	position:relative;
}

.revenuehead {
	position:absolute;
	top:70px;
	left:145px;
	font-size:60px;
	margin:0;
}

.hourshead {
	position:absolute;
	top:70px;
	left:425px;
	font-size:60px;
	margin:0;
}

.jobshead {
	position:absolute;
	top:75px;
	left:680px;
	font-size:60px;
	margin:0;
}
